{{> header}}
<script src="/main.js" charset="utf-8" defer></script>
<main class="page">
	<div class="button-holder">
		<button type="button" id="teacher-hub" class="hub-button">Teacher Hub</button>
		<button type="button" id="student-hub" class="hub-button">Student Hub</button>
	</div>
</main>
