{{> header}}

<main class="page">
	<aside class="t-hub-container">
		<div class="teacher-hub-container">
			<b id="top">Results</b>
		</div>
		<div class="teacher-hub-container">
			<b class="top">{{name}}</b>
		</div>
		<div class="teacher-hub-container">
			<b class="top">{{result}}</b>
		</div>
	</aside>
</main>
