{{> header}}
<script src="/sHub.js" charset="utf-8" defer></script>
<main class="page">
	<aside class="t-hub-container">
		<div class="teacher-hub-container">
			<b id="top">Student Hub</b>
		</div>
		<div class="teacher-hub-container">
			<label for="id-text" id="get-id" class="id-input">Enter Quiz ID</label>
       			<input type="text" name="id-text" id="get-id-text" class="id-input">
		</div>
		<div class="teacher-hub-container">
			<label for="name-text" id="get-name" class="id-input">Enter Your Name</label>
       			<input type="text" name="name-text" id="name-text" class="id-input">
		</div>
		<div class="teacher-hub-container">
			<button type="button" id="start-quiz" class="create-button">Start Quiz</button>
		</div>
	</aside>
</main>
