{{> header}}
<script src="/tHub.js" charset="utf-8" defer></script>
<main class="page">
	<aside class="t-hub-container">
		<div class="teacher-hub-container">
			<b id="top">Teachers Hub</b>
		</div>
		<div class="teacher-hub-container">
			<label for="id-text" id="id-label" class="id-input">Enter Quiz ID</label>
       			<input type="text" name="id-text" id="id-text" class="id-input">
		</div>
		<div class="teacher-hub-container">
			<button type="button" id="create-quiz" class="create-button">Create Quiz</button>
			<button type="button" id="edit-quiz" class="edit-button">Edit Quiz</button>
		</div>
	</aside>
</main>
