html, body {
	margin: 0 0 0 0px;
	height: 100%;
}
header {
	background-color: #989898;
	align-items: center;
	display: flex;
	position: relative;
	max-height: 200px;
	margin: 0 0 0 0px;
}

.page {
	display: flex;
}

.button-holder {
	width: 50%;
	height: 100%;
	margin:0 25% 0px;
	padding: 20px;
	border-color: #dee5e5; 
	background-color: #dee5e5;
	align-items: center;
	display: flex;
}

#teacher-hub {
	margin-left: 15%;
	margin-right: 10%;
}
#student-hub {
	margin-left: 10%;
	margin-right: 15%;
}
#id-label {
	font-family: "Bookman";
	font-size: 30px;
	color: #635bc5;
	margin-left: 10px;
	font-weight: bold;
	margin-right: 25px;
}

#get-id, #get-name, .answer-text{	
	font-family: "Bookman";
	font-size: 26px;
	color: #635bc5;
	margin-left: 10px;
	font-weight: bold;
	margin-right: 25px;
}

#create-quiz, #edit-quiz, #submit-quiz, #add-question {
	height: 80px;
	width: 200px;
	font-size: 25px;
	color: #050133;
	margin: 10px 10%;
	margin-top: 40px;
	padding: 15px;
	background-color: #91c3db;
	border: 2px solid #050133;
	border-radius: 3px;
	cursor: pointer;

}

#submit, #start-quiz{	
	height: 80px;
	width: 200px;
	font-size: 25px;
	color: #050133;
	margin: 10px 40%;
	margin-top: 40px;
	padding: 15px;
	background-color: #91c3db;
	border: 2px solid #050133;
	border-radius: 3px;
	cursor: pointer;
}
#err {
	width: 100%;
	height: 100%;
	margin-top: 0px;
	background-color: #91c3db;
}

#problem {
	align-items: center;
	display: flex;
}

#not-found {	
	font-size: 60px;
	font-family: "Bookman";
	margin-left: 20%;
}

#four {
	font-size: 100px;
	font-family: "Bookman";
	margin-left: 45%;
	margin-top: 10%;
	margin-bottom: 0px;
	margin-right: 30px;
}

#top, .top {
	font-size: 50px;
	font-family: "Bookman";
	margin-left: 30%;
	margin-bottom: 20px;
	color: #6565c8;
}

.id-input {
	flex: 1 auto;
	width: 33%;
}
.teacher-hub-container {
	width: 100%;
	margin-top: 10px;
	padding: 0px;
	align-items: center;
	display: flex;
}

#get-question {
	font-size: 20px;
	margin-top: 0px;
	color: black;
	border: 1px solid grey;
	border-radius: 3px;
	width: 50%;
	margin-left: 145px;
}

#get-key {
	font-size: 20px;
	margin-top: 0px;
	color: black;
	border: 1px solid grey;
	border-radius: 3px;
	width: 50%;
	margin-left: 12px;
}

#name-text, #get-id-text, .answer-text-field {	
	font-size: 20px;
	margin-top: 0px;
	color: black;
	border: 1px solid grey;
	border-radius: 3px;
	width: 50%;
	margin-left: 140px;
}

#id-text {
	font-size: 25px;
	margin-top: 15px;
	color: black;
	border: 1px solid grey;
	border-radius: 3px;
	width: 150px;
}

.hub-button {
	font-size: 25px;
	color: #050133;
	padding: 15px;
	background-color: #91c3db;
	border: 2px solid #050133;
	border-radius: 3px;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: #050133;
}

.t-hub-container {	
	width: 50%;
	height: 100%;
	margin:0 25% 0px;
	padding: 20px;
	border-color: #dee5e5; 
	background-color: #dee5e5;
}

.left-side {
	height: 100%;
	width: 20%;
	background-color: #91c3db;
	float: left;
}

.right-side {
	height: 100%;
	width: 20%;
	background-color: #91c3db;
	float: right;
}

.close {
	height: 30px;
	width: 30px;
	float: right;
	border: 2px solid grey;
	padding: 3px;
	font-size: 20px;
	cursor: pointer;
	background-color: lightgrey;
	
}

legend {
	font-size: 20px;
}

.radio-buttons {
	width:   85%;
}

.answers {
	width: 100%;
	border: 3px solid grey;
	border-radius: 3px;
	margin-left: 10px;
	margin-right: 10px;
}

.question {
	display: flex;
	margin-top: 15px;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 20px;
	font-family: "bookman";
}


.question-holder {
	height:100%;
	width: 60%;
	background-color: lightgrey;
}

.title {
	font-family: "Bookman";
	font-size: 80px;
	color: black;
	font-weight: 100;
	margin: 20px 0 0 10px;
	padding-top: 0px;
}

.title a:hover {
	text-decoration: none;
}
